* {
  box-sizing: border-box;
}
$primary-color: #0072ff;
$mobile-width: 430px;

body {

}

header {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
  .header-container {
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
.header-top {
  position: relative;
  justify-content: space-around;
  display: flex;
  h1{
    text-align: center;
    display: flex;
    align-items: center;
    padding: 5px;
    height: 85px;
color: #74C0FC;
font-family: Pacifico;
font-size: 29px;
font-style: normal;
font-weight: 900;
line-height: normal;
  }
}
    .hamburger-btn {
      font-size: 24px;
      background: none;
      border: none;
      cursor: pointer;
    }

    .logo {
      height: 163px; // Adjust this value as needed
    }

    .user-controls {
      gap: 10px;
      bottom: 50px;
      right: 15px;
      position: relative;
      display: flex;
      font-size: 24px;
    
      button {
        background: none;
        border: none;
        cursor: pointer;
        margin-left: 10px;
        transition: all 0.3s ease;
    
        &:hover {
          border-radius: 20px;
          transform: translateY(-5px); // Піднімає кнопку вгору на 5 пікселів
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); // Додає тінь під кнопку
        }
    
        .account {
          width: 32px; // Припускаючи, що .account - це клас для специфічної кнопки
        }
    
        img {
          width: 40px; // Припускаючи, що img - це всередині кнопки
        }
      }
    }
  }

  .search-container {
    width: 80%;
    left: 30px;
    bottom: 40px;
    position: relative;
    display: flex;
    margin: auto;
    
    
    input[type="search"] {
      flex-grow: 1;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 20px 0 0 20px;
      outline: none;
    }

    .search-btn {
      padding: 10px;
      border: none;
      background-color: $primary-color;
      color: white;
      border-radius: 0 20px 20px 0;
      cursor: pointer;
    }
    img {
      width: 15px;
    }
  }
}

@media (max-width: $mobile-width) {
  header {
    .header-container {
      padding: 10px;
    }

    .search-container {
      margin: 10px;
    }
  }
}
