* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    padding: 10px 20px;
    .hamburger-menu {
      display: none; // По замовчуванню кнопка прихована
      // Додаткові стилі для кнопки, якщо потрібно
    }
    .logo {
      img {
        top: 30px;
        position: absolute;
        max-width: 250px; // Adjust the size as needed
      }
    }
    .hamburger-menu {
      display: none; // По замовчуванню кнопка прихована
      // Додаткові стилі для кнопки, якщо потрібно
    }
    .navigation-menu {
      ul {
        list-style: none;
        display: flex;
        gap: 20px; // Adjust the space between menu items as needed
  
        li {
          a {
            text-decoration: none;
            color: #000; // Adjust text color as needed
            font-weight: bold; // Adjust font styling as needed
  
            &:hover {
              color: #555; // Adjust hover color as needed
            }
          }
        }
      }
    }
  
    .header-right {
      display: flex;
      align-items: center;
      gap: 20px; // Adjust the space between actions as needed
  
      .search-bar {
        input {
          padding: 5px;
          margin-right: 10px; // Adjust as needed
        }
      }
  
      .user-actions {
        display: flex;
        align-items: center;
        gap: 10px;
        a {
          text-decoration: none;
          color: #000; // Adjust as needed
          margin-right: 10px; // Adjust as needed
  
          img {
            border-radius: 10px;
            padding: 5px;
            width: 30px; // Встановлюємо базовий розмір картинки
            transition: transform 0.3s ease, background-color 0.3s ease; // Плавний перехід для трансформації та зміни фону
          
            &:hover {
              background-color: wheat;
              transform: translateY(-5px); // Піднімаємо картинку вгору при наведенні
            }
          }
          }
        }
      }
      .cart-icon {
        position: relative;
        display: inline-block;
        img {
          border-radius: 10px;
          border: 1px solid black;
          padding: 2px;
          width: 40px;
          transition: transform 0.3s ease, background-color 0.3s ease;
          &:hover {
            background-color: wheat;
            transform: translateY(-5px);
          }
        }
        .cart-count {
          position: absolute;
          top: -10px; // Регулюйте ці значення для точного позиціонування
          right: -10px;
          background-color: black; // Колір фону для індикатора
          color: white; // Колір тексту
          border-radius: 50%; // Круглий індикатор
          padding: 2px 6px;
          font-size: 0.75em; // Менший розмір шрифту для індикатора
          line-height: 1; // Видаліть зайвий простір всередині індикатора
          min-width: 20px; // Мінімальна ширина для індикатора
          text-align: center;
          box-sizing: border-box;
          border: 1px solid white; // Додайте білу облямівку, якщо потрібно
        }
      }
      
    }
    .slider {
      border-radius: 30px;
      top: 2.5rem;
      margin: auto;
      overflow: hidden;
      position: relative;
      width: 61%;
      .slider-controls {
        position: absolute;
        top: 80%;
        left: 10%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    
        .slider-button {
          background-color: #ffffff; // Білий фон кнопки
          color: #000000; // Чорний текст кнопки
          text-decoration: none;
          padding: 10px 20px;
          margin: 10px 0; // Відстань між кнопками
          border: 1px solid #000000; // Чорна облямівка
          transition: all 0.3s ease;
    
          &:hover {
            background-color: #000000; // Чорний фон при наведенні
            color: #ffffff; // Білий текст при наведенні
            border-color: #ffffff; // Біла облямівка при наведенні
          }
        }
      }
      .slide-container {
        display: flex;
        width: calc(100% * 5); // Ширина контейнера - кількість слайдів на ширину одного слайду
        transition: transform 0.3s ease-in-out;
        .slide {
          width: calc(100% / 1); // Кожен слайд повинен бути шириною 1/5 від ширини контейнера
          img {
            width: 1100px;
            display: block;
          }
        }
      }
      
    }
    
    @media (max-width: 480px) {
      .header {
        flex-direction: column;
        align-items: flex-start;
        .hamburger-menu {
          display: block; // Показати кнопку на мобільних пристроях
          // Стилі для позиціонування кнопки
          position: absolute;
          right: 10px;
          top: 10px;
        }
        .navigation-menu {
          display: none; // По замовчуванню меню приховане
          // Стилі для анімованого відображення меню
          flex-direction: column;
          position: absolute;
          top: 60px; // Відступ зверху
          left: 0;
          width: 100%;
          background-color: #fff;
        }
      }
    }
    
    // Додаткові стилі для анімованого відображення
    .navigation-menu.active {
      display: flex; // Показати меню, коли воно активоване
      animation: slideDown 0.5s ease forwards;
    }
        .logo {
          img {
            position: static; // або можливо вам потрібно буде центрувати
            max-width: 100px; // Менший розмір логотипу для мобільних пристроїв
          }
        }
      
        .navigation-menu {
          ul {
            flex-direction: column;
            align-items: flex-start;
            gap: 5px; // Менший проміжок між пунктами меню
    
            li {
              a {
                font-size: .8em; // Менший розмір шрифту
              }
            }
          }
        }
      
        .header-right {
          flex-direction: column;
          align-items: flex-start;
          .search-bar {
            input {
              width: 100%; // Розтягнути на всю ширину
            }
          }
        }
      
    
      .slider {
        border-radius: 10px; // Менший радіус для мобільних
        width: 100%; // Розтягнути слайдер на всю ширину для мобільних
    
        .slider-controls {
          top: 90%; // Регулювання положення кнопок
          left: 50%; // Центрування кнопок
        }
    
        .slide-container {
          .slide {
            img {
              width: 100%; // Розтягнути зображення на всю ширину слайду
            }
          }
        }
      }
    
      .product-grid {
        .product-item {
          width: 100%; // Кожен товар на всю ширину на мобільних
          margin: 10px 0; // Простір між товари
    
          .product-info {
            .product-price {
              font-size: 1em; // Збільшити розмір шрифту для видимості
            }
          }
        }
      }
    